{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Products</h1>
    {% if products|length %}
        <ul>
            {% for product in products %}
                <li><a href="{{ path('product.detail', {id: product.id} ) }}"> {{ product.title }}</a>: {{ product.price }} €</li>
            {% endfor %}
        </ul>
    {% else %}
        <div>No products</div>
    {% endif %}
</div>
{% endblock %}
